<ion-view title="Registro de Citas" id="page21" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="prospectoDeCliente()" id="registroDeCitas-button98" style="text-align:left;font-weight: 300; " class="button button-positive button-block button-outline icon-right {{iconos[1]['icono']}}">Nuevo Prospecto de Cliente</a>
    <a ui-sref="seguimiento()" id="registroDeCitas-button99" style="text-align:left;font-weight: 300; " class="button button-positive button-block button-outline icon-right {{iconos[3]['icono']}}">Seguimiento de Prospectos</a>
    <a ui-sref="pOS()" id="registroDeCitas-button118" style="text-align:left;font-weight: 300; " class="button button-positive button-block button-outline icon-right {{iconos[4]['icono']}}">POS</a>
  </ion-content>
</ion-view>